# Python
*.pyc
__pycache__/

# Virtualenv
venv/
env/
ENV/
*.env

# Django stuff
db.sqlite3
*.log
*.pot
*.py[cod]
media/
staticfiles/
local_settings.py

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

