# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual Environment
env/
venv/
myenv/
ENV/
.venv/
.idea/

# Django
*.db
*.sqlite3
/staticfiles/
/media/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
*.iml
.idea/

# Environment Variables
.env
*.env

# Render specific (optional safety)
build/


